<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= "Vehicle Accounting System" %></title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1><%= @title %></h1>
    <nav>
      <ul>
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/moderator" title="Moderator">Moderator</a></li>
        <li><a href="/admin" title="Admin">Admin</a></li>
      </ul>
    </nav>
  </header>
  <section>
    <%= yield %>
  </section>
</body>
</html>
